server:
  port: 8193
  context-path: /

# 服务节点,要求分布式下每个节点不同
node: 01

spring:
  dubbo:
    application:
      name: yeepay-manage
    registry:
      address: zookeeper://127.0.0.1:2181
    scan: org.yeepay.manage
  freemarker:
    cache: false
    charset: UTF-8
    check-template-location: true
    content-type: text/html
    expose-request-attributes: true
    expose-session-attributes: true
    request-context-attribute: request
    suffix: .ftl
    templateEncoding: UTF-8
    templateLoaderPath: classpath:/templates/
    settings:
      number_format: 0.##
  http:
    multipart:
      maxFileSize: 10Mb
      maxRequestSize: 10Mb
  jackson:
    serialization:
      INDENT_OUTPUT: true
  profiles:
     active: prod

# JWT
jwt:
  cookie: YeePay_Mgr_Token
  secret: YeePayGood
  expiration: 604800 # 7天
  mchSecret: YeePayGood

logging:
  file: ./log/yeepay-manage.log

config:
  mchQrUrl: @mch.site.url@/payment/qrcode
  downMchBillUrl: @reconciliation.site.url@/mch_bill_down
  loginMchUrl: @mch.site.url@/merchant/start/index.html#/user/mgr_login/mchId=%s/token=%s
  loginAgentUrl: @agent.site.url@/agent/start/index.html#/user/mgr_login/agentId=%s/token=%s
  settNotifyUrl: @mgr.site.url@/api/notify/sett
  payUrl: @pay.site.url@/api
